.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigHeader {
  font-size: 6em;
  margin-bottom: 20px;
  padding: 0;
}

.tagLine {
  font-size: 3em;
  color: #b8b7ba;
  margin-top: 15px;
}

@media only screen and (max-width: 555px) {
  .bigHeader {
    text-align: left;
  }
  .tagLine {
    text-align: left;
  }
}

@media only screen and (max-width: 450px) {
  .bigHeader {
    font-size: 3em;
  }
  .tagLine {
    font-size: 1.5em;
  }
}
