.navbar {
  position: fixed;
  width: 88vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
  background-color: #1e2125;
}

.navbar .name a {
  font-size: 30px;
}

.footer {
  justify-content: flex-start;
}
.navlinks {
  display: flex;
}

.navbar a {
  font-size: 18px;
  text-decoration: none;
  padding: 20px 10px;
  color: #dc827f;
  -webkit-transition: 0.4s; /* Safari */
  transition: 0.4s;
}

.navbar a:hover {
  color: white;
  background-color: #dc827f;
}

@media only screen and (max-width: 555px) {
  /* .navbar,
  .navlinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .navbar a {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 430px) {
  .navbar {
    position: absolute;
    display: block;
  }
}
