.thingsQueryRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 10px 0px;
}

.thingsQueryRow h1 {
  margin: 0 5px;
}

.thingsQueryReturn {
  flex-grow: 2;
}

@media only screen and (max-width: 760px) {
  .thingsQueryRow {
    width: 250px;
    justify-content: left;
    margin: 0 10px;
  }
  .thingsQueryReturn {
    margin: 0 10px;
  }
}
