.favouriteAlbumsWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.secondaryLine {
  color: white;
}

.start {
  margin: 5px;
}
